{% extends 'base.html' %}
{% load static %}

{% block header %}
  {% include 'main/header.html' %}
{% endblock %}

{% block content %}
  {{ current_user|json_script:'current-user' }}

  <button type="button" class="d-lg-none btn btn-primary ml-auto p-2 w-25 mt-1 mr-3 mb-1" data-toggle="modal" data-target="#modal-users-window">Users</button>
  <div class="modal fade" id="modal-users-window">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Users</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input id="modal-search-input" type="text" class="form-control col-12" placeholder="find user" />
            <div class="input-group-append">
              <button id="modal-search-button" class="btn btn-outline-secondary" type="button" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div id="modal-contacts-list" class="list-group" style="overflow-y: auto; height: calc(100% - 104px)"></div>
          <div class="d-flex justify-content-around p-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="filter" id="all" value="all" checked />
              <label class="form-check-label" for="all">All</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="filter" id="male" value="m" />
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="filter" id="female" value="f" />
              <label class="form-check-label" for="female">Female</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="container-lg d-flex" style="height: calc(100vh - 110px); overflow: hidden">
    <div class="d-none d-lg-block col-3 bg-light border-right p-0">
      <div class="input-group m-2">
        <input id="user-search" type="text" class="form-control col-11" placeholder="find user" />
      </div>
      <div id="contacts-list" class="list-group" style="overflow-y: auto; height: calc(100% - 104px)"></div>
      <div class="d-flex justify-content-around p-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filter" id="all" value="all" checked />
          <label class="form-check-label" for="all">All</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filter" id="male" value="m" />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="filter" id="female" value="f" />
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 p-0">
      <div class="d-flex align-items-center bg-white border-bottom p-2">
        <h5 id="chat-header-name" class="mb-1 mt-1 ml-2">Here will be name of chat</h5>
      </div>

      <div class="bg-light" style="overflow-y: auto; height: calc(100% - 104px)">
        <div id="chat-messages" class="d-flex flex-column p-3"></div>
      </div>
      <div class="input-group m-2">
        <input id="chat-message-input" type="text" class="form-control" placeholder="Write your message" />
        <div id="chat-message-submit" class="input-group-append">
          <button class="btn btn-primary" type="button">send</button>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
