@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: "Poppins", serif;
}

.messages {
  /* Стилизация сообщений */
  transition: opacity 0.5s linear; /* Плавное исчезновение */
}

.unselectable {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+/Edge */
  user-select: none;          /* Standard */
}
