{% extends 'base.html' %}
{% load static %}

{% block header %}
  {% include 'main/header.html' %}
{% endblock %}

{% block content %}
  <main class="container-lg d-flex" style="height: calc(100vh - 110px); overflow: hidden">
    <div class="container my-auto">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-md-8 col-xl-5">
          <div class="card">
            <div class="card-body">
              <form action="{% url 'users:registration' %}" method="post">
                {% csrf_token %}

                <div>
                  <div class="form-group mb-1 text-right">
                    <a href="{% url 'users:login' %}">Already have an account?</a>
                  </div>

                  <div class="form-group mb-4">
                    <label for="id_username">Username</label>
                    <input type="text" class="form-control" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" id="id_username" placeholder="Enter username" required />
                    {% if form.username.errors %}
                    <div class="mt-2 alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                    {% endif %}
                  </div>

                  <div class="form-group mb-4">
                    <label for="id_password1">Password</label>
                    <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Enter password" required />
                    {% if form.password1.errors %}
                    <div class="mt-2 alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                    {% endif %}
                  </div>

                  <div class="form-group mb-4">
                    {% comment %} <label for="id_password2"></label> {% endcomment %}
                    <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Repeat your password" required />
                    {% if form.password2.errors %}
                    <div class="mt-2 alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                    {% endif %}
                  </div>

                  <div class="form-group row mb-4">
                    <label for="id_age" class="col-4 col-form-label">Age:</label>
                    <div class="col-4">
                      <input type="number" class="form-control" name="age" id="id_age" min="13" max="110" value="{{ form.age.value }}" required />
                    </div>
                  </div>

                  <div class="form-group row mb-4" required>
                    <label for="id_gender" class="col-form-label col-5">Gender:</label>
                    <div class="col-7">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="id_male" value="m" required />
                        <label class="form-check-label" for="m">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="id_female" value="f" required />
                        <label class="form-check-label" for="f">Female</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row mb-4">
                    <label for="id_language" class="col-form-label col-5">Language:</label>
                    <div class="col-7">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="language" id="id_ru" value="ru" required />
                        <label class="form-check-label" for="ru">Russian</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="language" id="id_en" value="en" required />
                        <label class="form-check-label" for="en">English</label>
                      </div>
                    </div>
                  </div>

                  <div class="container d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
