{% extends 'base.html' %}
{% load static %}

{% block header %}
  {% include 'main/header.html' %}
{% endblock %}

{% block content %}
  <main class="container-lg d-flex" style="height: calc(100vh - 110px); overflow: hidden">
    <div class="container my-auto col-12 col-xl-6 col-lg-6 col-md-8">
      <h1 class="mb-3">Contact Us</h1>
      <form action="{% url 'main:contact_us' %}" method="post">
        {% csrf_token %}
        <div>
          <div class="form-group">
            <label for="id_name">Your name</label>
            <input type="text" class="form-control" name="name" id="id_name" placeholder="Write your name" />
            {% if form.name.errors %}
              <div class="mt-2 alert alert-danger alert-dismissible fade show">{{ form.name.errors }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" class="form-control" id="id_email" name="email" placeholder="Write your email" />
            {% if form.email.errors %}
              <div class="mt-2 alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_message">Message</label>
            <textarea class="form-control" id="id_message" name="message" rows="3" placeholder="Type here"></textarea>
            {% if form.message.errors %}
              <div class="mt-2 alert alert-danger alert-dismissible fade show">{{ form.message.errors }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
