{% load static %}

{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex align-items-center justify-content-center" style="height: 55px">
    <a class="navbar-brand"
      href="{% if user.is_authenticated %}
        {% url 'chat:index' %}
      {% else %}
        {% url 'users:login' %}
      {% endif %}">
      <img src="{% static 'deps/images/logo.png' %}" alt="logo" width="30" height="30" />
    </a>
    <div class="navbar-expand" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:contact_us' %}">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
