{% load static %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand"
      href="{% if user.is_authenticated %}
        {% url 'chat:index' %}
      {% else %}
        {% url 'users:login' %}
      {% endif %}">
      <img src="{% static 'deps/images/logo.png' %}" alt="logo" width="30" height="30" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:contact_us' %}">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:edit' %}">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
        {% endif %}
        {% if user.is_admin or user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">ADMINISTRATION</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
